include README.md
include doc/*
include applications/*.desktop
include tests/*py
include tests/testdata/*
include tests/dogtail/*.py
include *.spec
include tox.ini
include Jenkinsfile
include build.parameters
global-exclude *.py[cod]
