[Desktop Entry]
Name=Record transaction
Exec=addtrans
Icon=application-x-executable
Terminal=false
TryExec=addtrans
Type=Application
Categories=Office;Finance;
X-AppInstall-Keywords=ledger
