[Desktop Entry]
Name=Clear uncleared transactions (CLI)
Exec=cleartrans-cli
Icon=application-x-executable
Terminal=true
TryExec=cleartrans-cli
Type=Application
Categories=Office;Finance;
X-AppInstall-Keywords=ledger
