name: Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        set -e
        # sudo add-apt-repository universe
        # sudo apt-cache policy
        sudo apt-get install -y python3-ledger tox gobject-introspection
        # python -m pip install --upgrade pip
        # pip install pylint
    - name: Run tests
      run: |
        # pylint $(git ls-files '*.py')
        tox

